<footer>
  <section>
    <div>
      <h5>About Sync</h5>
      <p>Sync is a landing page HTML</p>
      <p>Template is built with Bootstrap</p>
    </div>

    <div>
      <h5>Contact Info</h5>
      <p>22 Innovation Street, CA, US</p>
      <p>office@syncmobile.com</p>
      <p>+44 376 945 23</p>
    </div>

    <div>
      <h5>Value Links</h5>
      <p>Terms and Conditions</p>
      <p>Privacy Policy</p>
      <p>Article Details</p>
    </div>

    <div>
      <h5>Other apps</h5>
      <p>Scentific Apps</p>
      <p>Advanced Timer</p>
      <p>Music Tones</p>
    </div>

    <div class="iconCollection">
      <fa-icon [icon]="facebookIcon" class="icon"></fa-icon>
      <fa-icon [icon]="twitterIcon" class="icon"></fa-icon>
      <fa-icon [icon]="pinterestIcon" class="icon"></fa-icon>
      <fa-icon [icon]="instagramIcon" class="icon"></fa-icon>
    </div>
  </section>

  <p class="copyrights">Copyrights 2020 Inovatik - All rights reserved</p>
</footer>
