<section>
  <h3>User Testimonals</h3>
  <section class="reviews">
    <div class="review-1">
      <p>I love Sync for my personal development needs.</p>
      <h6>- Rick Jones - Designer</h6>
    </div>
    <div class="review-2">
      <p>
        After trying out a large number of personal coaching apps I decided to
        give a sync a try
      </p>
      <h6>- Lynda Marquez - Developer</h6>
    </div>
    <div class="review-3">
      <p>I love Sync for my personal development needs.</p>
      <h6>- Jay Frisco - Marketer</h6>
    </div>
  </section>

  <section class="images-section">
    <img src="https://i.ibb.co/c1z9w3s/customer-logo-1.png" alt="img-1" />
    <img src="https://i.ibb.co/q5hDTC0/customer-logo-2.png" alt="img-2" />
    <img src="https://i.ibb.co/f2zVY3M/customer-logo-3.png" alt="img-3" />
    <img src="https://i.ibb.co/W2XsNXf/customer-logo-4.png" alt="img-4" />
    <img src="https://i.ibb.co/N1nYtFF/customer-logo-5.png" alt="img-5" />
  </section>

  <section class="reviews">
    <div class="review-1">
      <p>I love Sync for my personal development needs.</p>
      <h6>- Rick Jones - Designer</h6>
    </div>
    <div class="review-2">
      <p>
        After trying out a large number of personal coaching apps I decided to
        give a sync a try
      </p>
      <h6>- Lynda Marquez - Developer</h6>
    </div>
    <div class="review-3">
      <p>I love Sync for my personal development needs.</p>
      <h6>- Jay Frisco - Marketer</h6>
    </div>
  </section>
</section>
