<section class="serviceCollection">
  <div class="h4-p-collection">
    <fa-icon [icon]="usersIcon" class="userIcon"></fa-icon>
    <h4>231</h4>
    <p>Happy Users</p>
  </div>
  <div class="h4-p-collection">
    <fa-icon [icon]="codeIcon" class="codeIcon"></fa-icon>
    <h4>385</h4>
    <p>Issues Solved</p>
  </div>
  <div class="h4-p-collection">
    <fa-icon [icon]="gearIcon" class="gearIcon"></fa-icon>
    <h4>159</h4>
    <p>Good Reviews</p>
  </div>
  <div class="h4-p-collection">
    <fa-icon [icon]="commentIcon" class="commentIcon"></fa-icon>
    <h4>127</h4>
    <p>Case Studies</p>
  </div>
  <div class="h4-p-collection">
    <fa-icon [icon]="rocketIcon" class="rocketIcon"></fa-icon>
    <h4>211</h4>
    <p>Order Received</p>
  </div>
</section>
