<section>
  <div>
    <mat-tab-group>
      <mat-tab label="Schedule">
        <div class="content">
          <p>
            <b>Schedule tasks</b> to keep track of their comppletion. Sync
            provides multiple scheduling options including alarms and reminders
          </p>
          <ul>
            <li>
              <fa-icon [icon]="checkIcon" class="checkIcon"></fa-icon>
              You can always add a new task or change the settings of existing
              ones in your calender view or the app control panel
            </li>
            <li>
              <fa-icon [icon]="checkIcon" class="checkIcon"></fa-icon> You can
              always add a new task or change the settings of existing ones in
              your calender view or the app control panel
            </li>
            <li>
              <fa-icon [icon]="checkIcon" class="checkIcon"></fa-icon>
              You can always add a new task or change the settings of existing
              ones in your calender view or the app control panel
            </li>
          </ul>
        </div>
      </mat-tab>
      <mat-tab label="Tracking">
        <div class="content">
          <p>
            <b>Tracking</b> to keep track of their comppletion. Sync provides
            multiple scheduling options including alarms and reminders
          </p>
          <ul>
            <li>
              <fa-icon [icon]="checkIcon" class="checkIcon"></fa-icon>
              You can always add a new task or change the settings of existing
              ones in your calender view or the app control panel
            </li>
            <li>
              <fa-icon [icon]="checkIcon" class="checkIcon"></fa-icon>
              You can always add a new task or change the settings of existing
              ones in your calender view or the app control panel
            </li>
            <li>
              <fa-icon [icon]="checkIcon" class="checkIcon"></fa-icon>
              You can always add a new task or change the settings of existing
              ones in your calender view or the app control panel
            </li>
          </ul>
        </div>
      </mat-tab>
      <mat-tab label="Organize">
        <div class="content">
          <p>
            <b>Organize</b> to keep track of their comppletion. Sync provides
            multiple scheduling options including alarms and reminders
          </p>
          <ul>
            <li>
              <fa-icon [icon]="checkIcon" class="checkIcon"></fa-icon>
              You can always add a new task or change the settings of existing
              ones in your calender view or the app control panel
            </li>
            <li>
              <fa-icon [icon]="checkIcon" class="checkIcon"></fa-icon>
              You can always add a new task or change the settings of existing
              ones in your calender view or the app control panel
            </li>
            <li>
              <fa-icon [icon]="checkIcon" class="checkIcon"></fa-icon>
              You can always add a new task or change the settings of existing
              ones in your calender view or the app control panel
            </li>
          </ul>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>

  <div>
    <img src="https://i.ibb.co/qDdW5B8/screenshot-7.jpg" alt="" />
  </div>
</section>
