<section>
  <img src="https://i.ibb.co/GtNpFVk/download-iphone.png" alt="" />
  <p>
    Do you feel like you're wasting your time with small stuff instead of
    working towards your goals? Start using Sync to organize your time and get a
    grip on your personal development
  </p>
  <div class="download-buttons">
    <button class="download-button">
      <fa-icon [icon]="appleIcon"></fa-icon>
      Download
    </button>
    <button class="download-button">
      <fa-icon [icon]="googlePlayIcon"></fa-icon>
      Download
    </button>
  </div>
</section>
