<section>
  <h3>Special Feature</h3>

  <div class="featureParagraphs">
    <p>
      Sync's features are designed to help you improve your time management
      skills and become a better organized person.
    </p>
    <p>
      Organize your tasks, schedule your appointments and meet your personal
      development goals with Sync
    </p>
  </div>
  <div class="subsection">
    <ul>
      <div class="featureInList">
        <div class="h4-p">
          <h4>Goal Setting</h4>
          <p>
            Like any self-improving process, everything starts with setting your
            goals and committing to them
          </p>
        </div>
        <fa-icon [icon]="usersIcon" class="userIcon"></fa-icon>
      </div>
      <div class="featureInList">
        <div class="h4-p">
          <h4>Situation Analysis</h4>
          <p>
            Sync provides a well designed and ergonomic visual editor for you to
            edit your quick notes
          </p>
        </div>

        <fa-icon [icon]="codeIcon" class="codeIcon"></fa-icon>
      </div>
      <div class="featureInList">
        <div class="h4-p-collection">
          <h4>Task Settings</h4>
          <p>
            Each option packaged in the app's menus is provided in order to
            imrpove you personally
          </p>
        </div>
        <fa-icon [icon]="gearIcon" class="gearIcon"></fa-icon>
      </div>
    </ul>
    <img src="https://i.ibb.co/SfCftRD/screenshot-4.jpg" alt="iphone" />
    <ul>
      <div class="featureInList">
        <fa-icon [icon]="commentIcon" class="commentIcon"></fa-icon>
        <div class="h4-p-collection">
          <h4>Social Interaction</h4>
          <p>
            Schedule your appointments meetings and periodical evaluations using
            the tools
          </p>
        </div>
      </div>
      <div class="featureInList">
        <fa-icon [icon]="rocketIcon" class="rocketIcon"></fa-icon>
        <div class="h4-p-collection">
          <h4>Getting things done</h4>
          <p>
            Reading focus mode for long form articles, ebook and other materials
            with long texts
          </p>
        </div>
      </div>
      <div class="featureInList">
        <fa-icon [icon]="downloadIcon" class="downloadIcon"></fa-icon>
        <div class="h4-p-collection">
          <h4>Good Foundation</h4>
          <p>
            Get a solid foundation for yourself development efforts. Try Sync
            mobile app for devices
          </p>
        </div>
      </div>
    </ul>
  </div>
</section>
