<section>
  <section class="section-1">
    <h1>Mobile App Landing Page</h1>
    <p class="introductionParagraph">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
      molestiae quas vel sint commodi repudiandae consequuntur voluptatum
      laborum numquam blanditiis harum quisquam eius
    </p>
    <div class="download-buttons">
      <button class="download-button">
        <fa-icon [icon]="appleIcon"></fa-icon>
        Download
      </button>
      <button class="download-button">
        <fa-icon [icon]="googlePlayIcon"></fa-icon>
        Download
      </button>
    </div>

    <img src="https://i.ibb.co/1XKpFs8/header-iphone.png" alt="" />

    <ul class="ul-section-1">
      <li>
        <fa-icon [icon]="usersIcon" class="userIcon"></fa-icon>
        <p>Identity Goal</p>
      </li>

      <li>
        <fa-icon [icon]="codeIcon" class="codeIcon"></fa-icon>
        <p>Situation Analysis</p>
      </li>

      <li>
        <fa-icon [icon]="gearIcon" class="gearIcon"></fa-icon>
        <p>Task Settings</p>
      </li>

      <li>
        <fa-icon [icon]="commentIcon" class="commentIcon"></fa-icon>
        <p>Social Interaction</p>
      </li>

      <li>
        <fa-icon [icon]="rocketIcon" class="rocketIcon"></fa-icon>
        <p>Get things done</p>
      </li>
    </ul>
  </section>

  <section class="section-2">
    <img
      src="https://i.ibb.co/Cz6KqMN/description-1-app.png"
      alt="description-1-app"
    />
    <div class="lightbox">
      <h3>Organize Your Time And Start Getting Results</h3>
      <p class="p-section-2">
        Sync is the first app on the market to harness the power of social
        connections to help you stop procrastinating and start getting things
        done. Give it a try and see the changes right away.
      </p>

      <li>Analyze and evaluate your current status and productivity</li>
      <li>Begin monitoring your day to day routine with Sync app</li>
      <li>See the improved results in no more than couple of weeks</li>

      <button class="lightbox-button">Lightbox</button>
    </div>
  </section>
</section>
